
body {
  margin: 0;
font-family: 'Comic Sans MS', cursive;  background-color: #2d2d2d;
  color: #f1f1f1;
}

header {
  background-color: #1e1e1e;
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid #ccc;
}

h1 {
  margin: 0;
  font-size: 68px;
  color: #fff;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 15px;
  color: #ffee58;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fff176;
}

main {
  padding: 2rem;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
